/* Desktop */

@media (min-width:548px) {
    body{
        background-size: 100% 50%;
    }

    img{
        width: 130px;
    }
    
    h1{
        font-size: 25px;
    }

    .flex-el{
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .desk-price{
        font-size: 30px;
    }

    .flex-el{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: auto;
    }

    #desktop-rate{
        position: relative;
        top: 8px;
    }

    #mobile-rate{
        position: absolute;
    }

    .payment-methods{
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .after-hr{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: auto;
    }

    .options{
        list-style-position: outside;
        margin-left: -25px;
        margin-bottom: 30px;
    }

    .options li{
        text-align: left;
    }

    #submit-btn{
        height: 40px;
    }
}